*~

# Python
*pyc
*.egg-info
log.html

# Some test files
test_gm.py
gmailTest.py

# Credentials file
client_secret.json

# Some test files
/tests/**
gmailTest.py

# Vim's backup file
*swp
20161011-180821.txt
20161011-180821.html
